services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../:/workspace:cached

    # Overrides default command so things don't shut down after the process ends
    command: sleep infinity

    # Expose the Next.js development server port
    ports:
      - "3000:3000"

    # Environment variables
    environment:
      - NODE_ENV=development
